
InputBitDepth                 : 8
InputChromaFormat             : 444
InputColourSpaceConvert       : RGBtoGBR

#OutputColourSpaceConvert      : GBRtoRGB
SNRInternalColourSpace        : 1
#OutputInternalColourSpace     : 1           # Convert recon output back to RGB order. Use --OutputColourSpaceConvert GBRtoRGB on decoder to produce a matching output file.


Level                         : 6.2
OutputBitDepth                : 8
OutputBitDepthC               : 8